[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "2023-10-PasswordStore_/lib/forge-std"]
	path = 2023-10-PasswordStore_/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
